@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Eagle+Lake&display=swap');

.cuprum-UI {
  font-family: "Cuprum", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30;
  font-style: normal;
}

.button{
  display: inline-block;
  padding: 10px 16px;
  background: #1B5E20;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}


a{
  color: #fbffbe;
}

body{
  font-family: cuprum; 
  background-color: #e5f8e4;
}

nav{
  margin: 10px 5px;
}

p{
  text-indent: 2%;
}

section{
  background-color: #A8DAB5;
  border-radius: 5px;
  width: 75%;
  align-content: center;
  margin: 20px 10px;
}

h2{
  text-align: center;
  color:#1B5E20;
}

tr{
  width: 100%;
  padding:100px;
  margin: 100px;
}

td{
  width: 33%;
}

.picture:hover{

}